.app_title {
    background-color: #A4C639;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 30px;
}

.wrap {
    text-align: center;
}

.app_txt {
    font-size: 1.5em;
}

.downBtn {
    padding: 1% 1% 1% 1%;
    border-radius: 25px;
    background-color: #A4C639;
}