.footer {
    display: flex;
    width: auto;
    height: auto;
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 1.5% 0% .15% 0%;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: #ffff;
}

@media screen and (max-width: 768px){
    .footer {
        display: flex;
        padding: 0.5% 0% 0.5% 0%;
    }

    .footer p {
        font-size: 3px;
    }
}