.yeoul_logo {
    max-width: 50%;
    max-height: 15%;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_img {
    width: 100%;
    filter: brightness(50%);
}

#img_txt {
    position: absolute;
    color: #ffffff;
    font-size: 90px;
}

#yeoul_info {
    margin: 3% 15% 0% 15%;
}

#img_box {
    display: flex;
    flex-direction: row;

}

#yeoul_info h1, p {
    margin: 2%;
}

.logo_info {
    font-size: 25px;
}

#teacher {
    display: flex;
    flex-direction: row;
}

#teacher h1 {
    margin-bottom: 5%;
}

#teacher p {
    font-size: 22px;
}

#yeoul_history p{
    margin: 0% inherit;
}

#teacher_name {
    padding-left: 80%;
}

@media screen and (max-width: 768px) {
    #img_txt {
        font-size: 20px;
    }

    #yeoul_info {
        margin: 3% 5% 0% 5%;
    }

    #teacher {
        display: flex;
        flex-direction: column;
    }

    #teacher_name {
        padding-left: 50%;
    }
}